In [6]:
import pandas as pd
import numpy as np
from os import getcwd
raw_data_dir = f"{getcwd()}/../data/raw"
processed_data_dir = f"{getcwd()}/../data/processed"

In [7]:
raw_data_dir

'/Users/admin/PycharmProjects/ml-vip-vxv-EPFME/codes/../data/raw'

In [4]:
df = pd.read_csv(f"{raw_data_dir}/filtered_ibes.csv")
df.head()

,TICKER,CUSIP,OFTIC,CNAME,VALUE,USFIRM,date,year,month
0,0000,87482X10,TLMR,TALMER BANCORP,1.21,1,2015-01-30,2015,1
1,0000,87482X10,TLMR,TALMER BANCORP,1.02,1,2016-01-26,2016,1
2,0001,26878510,EPE,EP ENGR CORP,0.86,1,2015-02-18,2015,2
3,0001,26878510,EPE,EP ENGR CORP,0.78,1,2016-02-18,2016,2
4,0001,26878510,EPE,EP ENGR CORP,0.62,1,2017-03-01,2017,3

In [5]:
df.head()

,TICKER,CUSIP,OFTIC,CNAME,VALUE,USFIRM,date,year,month
0,0000,87482X10,TLMR,TALMER BANCORP,1.21,1,2015-01-30,2015,1
1,0000,87482X10,TLMR,TALMER BANCORP,1.02,1,2016-01-26,2016,1
2,0001,26878510,EPE,EP ENGR CORP,0.86,1,2015-02-18,2015,2
3,0001,26878510,EPE,EP ENGR CORP,0.78,1,2016-02-18,2016,2
4,0001,26878510,EPE,EP ENGR CORP,0.62,1,2017-03-01,2017,3

In [9]:
df_cik = pd.read_csv(f"{processed_data_dir}/cik-cusip-maps.csv")
df_cik.head()

         cik  cusip6    cusip8
0   828119.0  88343A  88343A10
1  1342575.0  M8260H  M8260H10
2  1323143.0  61732R  61732R10
3   856751.0  320655  32065510
4  1373079.0  018921  01892110

In [12]:
df_cik[df_cik["cusip8"] == "26878510"]

             cik  cusip6    cusip8
34528  1584952.0  268785  26878510

In [13]:
df_cik.shape

(56471, 3)

In [15]:
cusip_mapping = dict(zip(df_cik["cusip8"], df_cik["cik"]))

In [17]:
df["cik"] = df["CUSIP"].map(cusip_mapping)

In [18]:
df.head()

,TICKER,CUSIP,OFTIC,CNAME,VALUE,USFIRM,date,year,month,cik
0,0000,87482X10,TLMR,TALMER BANCORP,1.21,1,2015-01-30,2015,1,1360683.0
1,0000,87482X10,TLMR,TALMER BANCORP,1.02,1,2016-01-26,2016,1,1360683.0
2,0001,26878510,EPE,EP ENGR CORP,0.86,1,2015-02-18,2015,2,1584952.0
3,0001,26878510,EPE,EP ENGR CORP,0.78,1,2016-02-18,2016,2,1584952.0
4,0001,26878510,EPE,EP ENGR CORP,0.62,1,2017-03-01,2017,3,1584952.0

In [19]:
df.to_csv(f"{processed_data_dir}/filtered_ibes_with_cik.csv", index=False)