In [7]:
import pandas as pd
import numpy as np
from os import getcwd
import pickle
import urllib.request 
%load_ext autoreload
%autoreload 2


raw_data_dir = f"{getcwd()}/../data/raw"
processed_data_dir = f"{getcwd()}/../data/processed"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
raw_data_dir

'/Users/saniyasavla/Desktop/school/sem 2/VIP/ml-vip-vxv-EPFME/codes/../data/raw'

In [9]:
df = pd.read_csv(f"{processed_data_dir}/filtered_ibes_with_cik.csv")
df.head()

,TICKER,CUSIP,OFTIC,CNAME,VALUE,USFIRM,date,year,month,cik
0,0000,87482X10,TLMR,TALMER BANCORP,1.21,1,2015-01-30,2015,1,1360683.0
1,0000,87482X10,TLMR,TALMER BANCORP,1.02,1,2016-01-26,2016,1,1360683.0
2,0001,26878510,EPE,EP ENGR CORP,0.86,1,2015-02-18,2015,2,1584952.0
3,0001,26878510,EPE,EP ENGR CORP,0.78,1,2016-02-18,2016,2,1584952.0
4,0001,26878510,EPE,EP ENGR CORP,0.62,1,2017-03-01,2017,3,1584952.0

In [177]:
df.shape

(62313, 10)

In [178]:
df["CNAME"].unique().shape

(12816,)

In [179]:
firm_cik_year_set = pickle.load(open(f"{getcwd()}/../data/processed/firm_cik_year_set.pkl", "rb"))
final_tag_set = pickle.load(open(f"{getcwd()}/../data/processed/tag_set.pkl", "rb"))

In [180]:
print(len(final_tag_set))

17421

In [181]:
print(len(firm_cik_year_set))
print(next(iter(firm_cik_year_set)))

118576
('NAPRODIS, INC.', 1313938, 2012)

In [182]:
# extract only firms that has a datapoint in the ibes
filtered_firm_cik_year_set = set()
for name, cik, year in firm_cik_year_set:
    if df[(df["cik"] == cik) & (df["year"] == year + 1)].shape[0] > 0:
        filtered_firm_cik_year_set.add((name, cik, year))
print(len(filtered_firm_cik_year_set))

KeyboardInterrupt:

In [ ]:
# construct skeleton df
output_df = pd.DataFrame(np.nan, index=list(range(len(filtered_firm_cik_year_set))), columns=["cik", "Name", "Year"] + list(final_tag_set))
names = [x[0] for x in filtered_firm_cik_year_set]
cik = [x[1] for x in filtered_firm_cik_year_set]
years = [x[2] for x in filtered_firm_cik_year_set]
output_df["Name"] = names
output_df["Year"] = years
output_df["cik"] = cik
output_df.head(100)

,cik,Name,Year,TechnologyAndDevelopmentExpense,UnrecognizedTaxBenefitsReasonablyPossibleButUncertaintyOfTiming,DebtMaturitiesRepaymentsOfPrincipalAtCarryingValueYearFour,StockRepurchasedDuringPeriodAveragePricePerShare,ContingentConsiderationPayments,RestrictedShareUnitsUnvestedDividendsPaid,DeferredTaxAssetsSaleAndFinancingOfCorporateHeadquarters,...,ValuationAllowanceDeferredTaxAssetChangeInAmountAdditions,InvestmentInInternalTrust,OperatingExpensesExcludingFuel,EntityWideDisclosureOnGeographicAreasLongLivedAssetsTotal,InventoryForLongTermContractsOrProgramsGeneralAndAdministrativeCostsIncludedInInventory,CertainLoansAcquiredInTransferAccountedForAsDebtSecuritiesAccretableYieldReclassificationsFromNonaccretableDifference,VendorPromotionalFunds,IntangibleAssetsNetExcludingGoodwill,DifferenceBetweenEmployerPensionAndOtherPostRetirementContributionsAndPensionAndOtherPostRetirementExpense,AllowanceForDoubtfulAccountsReturnsCredits
0,1296435,NEENAH INC,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24545,MOLSON COORS BREWING CO,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,855683,MILESTONE SCIENTIFIC INC.,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,42888,GRACO INC,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,833444,JOHNSON CONTROLS INTERNATIONAL PLC,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1558583,ARCIMOTO INC,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,889971,LIGHTPATH TECHNOLOGIES INC,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,816159,AIR METHODS CORP,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,1179060,CROSSTEX ENERGY LP,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1013462,ANSYS INC,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
output_df.head(100)

,cik,Name,Year,TechnologyAndDevelopmentExpense,UnrecognizedTaxBenefitsReasonablyPossibleButUncertaintyOfTiming,DebtMaturitiesRepaymentsOfPrincipalAtCarryingValueYearFour,StockRepurchasedDuringPeriodAveragePricePerShare,ContingentConsiderationPayments,RestrictedShareUnitsUnvestedDividendsPaid,DeferredTaxAssetsSaleAndFinancingOfCorporateHeadquarters,...,ValuationAllowanceDeferredTaxAssetChangeInAmountAdditions,InvestmentInInternalTrust,OperatingExpensesExcludingFuel,EntityWideDisclosureOnGeographicAreasLongLivedAssetsTotal,InventoryForLongTermContractsOrProgramsGeneralAndAdministrativeCostsIncludedInInventory,CertainLoansAcquiredInTransferAccountedForAsDebtSecuritiesAccretableYieldReclassificationsFromNonaccretableDifference,VendorPromotionalFunds,IntangibleAssetsNetExcludingGoodwill,DifferenceBetweenEmployerPensionAndOtherPostRetirementContributionsAndPensionAndOtherPostRetirementExpense,AllowanceForDoubtfulAccountsReturnsCredits
0,1296435,NEENAH INC,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24545,MOLSON COORS BREWING CO,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,855683,MILESTONE SCIENTIFIC INC.,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,42888,GRACO INC,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,833444,JOHNSON CONTROLS INTERNATIONAL PLC,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1558583,ARCIMOTO INC,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,889971,LIGHTPATH TECHNOLOGIES INC,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,816159,AIR METHODS CORP,2014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,1179060,CROSSTEX ENERGY LP,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,1013462,ANSYS INC,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# fill in the data
from helper import get_10k_df, extract_data
li = output_df[['Name', 'Year']].values.tolist()
li = [tuple(x) for x in li]
print(li[0])
firm_year_index_cache = {x: i for i, x in enumerate(li)}
print(firm_year_index_cache[li[0]])

('NEENAH INC', 2016)
0

In [ ]:
data_dir = f"{getcwd()}/../data/raw/2020q2"
df = pd.read_csv(f"{data_dir}/num.txt", sep="\t")
df.head(100)

sub = pd.read_csv(f"{data_dir}/sub.txt", sep="\t")
sub.head(100)

/var/folders/sy/8yjpdhts2wx6v85js75qxcch0000gn/T/ipykernel_26629/2983371062.py:5: DtypeWarning: Columns (35) have mixed types. Specify dtype option on import or set low_memory=False.
  sub = pd.read_csv(f"{data_dir}/sub.txt", sep="\t")

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
0,0000006201-20-000051,6201,AMERICAN AIRLINES GROUP INC.,4512.0,US,TX,FORT WORTH,76155,1 SKYVIEW DRIVE,NaN,...,20200331.0,NaN,NaN,20200401,2020-04-01 16:15:00.0,0,0,a8k040120drawdownofrev_htm.xml,2,4515
1,0000018498-20-000016,18498,GENESCO INC,5661.0,US,TN,NASHVILLE,37217,GENESCO PK 1415 MURFREESBORO RD,NaN,...,20200131.0,2019.0,FY,20200401,2020-04-01 15:29:00.0,0,1,gcofy202010-kq4_htm.xml,1,NaN
2,0000020286-20-000029,20286,CINCINNATI FINANCIAL CORP,6331.0,US,OH,FAIRFIELD,45014,6200 S GILMORE RD,NaN,...,20200331.0,NaN,NaN,20200401,2020-04-01 09:54:00.0,0,0,locationchange8-k04x01_htm.xml,1,NaN
3,0000049196-20-000017,49196,HUNTINGTON BANCSHARES INC/MD,6021.0,US,OH,COLUMBUS,43287,HUNTINGTON CTR,41 S HIGH ST HC0917,...,20200331.0,NaN,NaN,20200401,2020-04-01 16:53:00.0,0,0,hban-2020x04x01x8k_htm.xml,1,NaN
4,0000074145-20-000014,74145,OKLAHOMA GAS & ELECTRIC CO,4911.0,US,OK,OKLAHOMA CITY,73101-0321,321 NORTH HARVEY,PO BOX 321,...,20200331.0,NaN,NaN,20200401,2020-04-01 14:34:00.0,0,0,oge-20200401_htm.xml,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0001193125-20-094661,1403752,ZYMEWORKS INC.,2834.0,CA,BC,VANCOUVER,V6H 3V9,540-1385 WEST 8TH AVENUE,NaN,...,20200331.0,NaN,NaN,20200401,2020-04-01 16:23:00.0,1,0,d905486d8k_htm.xml,1,NaN
96,0001193125-20-094673,1111711,NISOURCE INC.,4931.0,US,IN,MERRILLVILLE,46410-6272,801 EAST 86TH AVE,NaN,...,20200331.0,NaN,NaN,20200401,2020-04-01 16:31:00.0,1,0,d911544d8k_htm.xml,1,NaN
97,0001193125-20-094680,109198,TJX COMPANIES INC /DE/,5651.0,US,MA,FRAMINGHAM,01701,770 COCHITUATE RD,NaN,...,20200331.0,NaN,NaN,20200401,2020-04-01 16:34:00.0,0,0,d911649d8k_htm.xml,1,NaN
98,0001193125-20-094682,1501134,INVITAE CORP,8071.0,US,CA,SAN FRANCISCO,94103,1400 16TH STREET,NaN,...,20200331.0,NaN,NaN,20200401,2020-04-01 16:34:00.0,1,0,d909554d8k_htm.xml,1,NaN
99,0001193125-20-094692,814549,EBIX INC,7373.0,US,GA,JOHNS CREEK,30097,1 EBIX WAY,NaN,...,20200331.0,NaN,NaN,20200401,2020-04-01 16:38:00.0,0,0,d911862d8k_htm.xml,1,NaN

In [ ]:
%%time
from helper import get_10k_df, extract_data
num_df, sub_df = get_10k_df(df, sub)
extract_data(output_df, num_df, sub_df, final_tag_set, firm_year_index_cache)

CPU times: user 3.07 s, sys: 62.6 ms, total: 3.13 s
Wall time: 3.14 s

In [ ]:
# ensure it works
deferred = output_df["DeferredCompensationLiabilityCurrentAndNoncurrent"]
deferred[deferred.notnull()]

1411      2870000.0
8034     58800000.0
12865     4447000.0
13286     1900000.0
13702     3793000.0
15528     2000000.0
21303     1900000.0
22129      755000.0
23517     2200000.0
25087     3756000.0
26600     6100000.0
28314    17652000.0
28540     1042000.0
30260      685000.0
34681     5400000.0
35748    55700000.0
Name: DeferredCompensationLiabilityCurrentAndNoncurrent, dtype: float64

In [ ]:
# loop through all folders, extract feature data
from helper import get_10k_df, extract_data
import os
extract_dir = f"{getcwd()}/../data/raw"
for folder in os.listdir(extract_dir):
    if not os.path.isdir(f"{extract_dir}/{folder}"):
        continue
    print(f"Starting {folder}")
    num_df = pd.read_csv(f"{extract_dir}/{folder}/num.txt", sep="\t")
    sub_df = pd.read_csv(f"{extract_dir}/{folder}/sub.txt", sep="\t")
    num_df, sub_df = get_10k_df(num_df, sub_df)
    extract_data(output_df, num_df, sub_df, final_tag_set, firm_year_index_cache)
    print(f"{folder} finished")

Starting 2021q2
2021q2 finished
Starting 2021q4
2021q4 finished
Starting 2021q3
2021q3 finished
Starting 2014q3
2014q3 finished
Starting 2014q4
2014q4 finished
Starting 2018q1
2018q1 finished
Starting 2012q1
2012q1 finished
Starting 2016q1
2016q1 finished
Starting 2014q2
2014q2 finished
Starting 2020q1
2020q1 finished
Starting 2022q2
2022q2 finished
Starting 2022q4
2022q4 finished
Starting 2022q3
2022q3 finished
Starting 2013q2
2013q2 finished
Starting 2019q2
2019q2 finished
Starting 2017q3
2017q3 finished
Starting 2017q4
2017q4 finished
Starting 2019q3
2019q3 finished
Starting 2019q4
2019q4 finished
Starting 2013q3
2013q3 finished
Starting 2013q4
2013q4 finished
Starting 2015q1
2015q1 finished
Starting 2017q2
2017q2 finished
Starting 2021q1

/var/folders/sy/8yjpdhts2wx6v85js75qxcch0000gn/T/ipykernel_26629/4041659366.py:9: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  num_df = pd.read_csv(f"{extract_dir}/{folder}/num.txt", sep="\t")

2021q1 finished
Starting 2018q2
2018q2 finished
Starting 2012q2
2012q2 finished
Starting 2016q4
2016q4 finished
Starting 2016q3
2016q3 finished
Starting 2012q4
2012q4 finished
Starting 2012q3
2012q3 finished
Starting 2018q4
2018q4 finished
Starting 2018q3
2018q3 finished
Starting 2016q2
2016q2 finished
Starting 2014q1

KeyboardInterrupt:

In [ ]:
# now extract the y data
null_pct = output_df.isna().mean()
cols = null_pct[null_pct > 0.8].index.tolist()
output_df = output_df.drop(cols, axis=1)

           cik                                Name  Year
0      1296435                          NEENAH INC  2016
1        24545             MOLSON COORS BREWING CO  2016
2       855683           MILESTONE SCIENTIFIC INC.  2019
3        42888                           GRACO INC  2015
4       833444  JOHNSON CONTROLS INTERNATIONAL PLC  2017
...        ...                                 ...   ...
39892    63296         MATTHEWS INTERNATIONAL CORP  2012
39893  1649744                DULUTH HOLDINGS INC.  2016
39894  1060736            SEATTLE GENETICS INC /WA  2011
39895    14930                      BRUNSWICK CORP  2014
39896   357294           HOVNANIAN ENTERPRISES INC  2020

[39897 rows x 3 columns]

In [4]:
# Packages
import pandas as pd
import datetime as dtt

path_data = f'/Users/saniyasavla/Desktop/school/sem 2/VIP/data/'

# Import CRSP: 
#   PERMNO is security identifier for CRSP, SHRCD is security type, 
#   SICCD is SIC industry categorization. NCUSIP is historical security identifier.
#   COMNAM is company name, PRIMEXCH is primary exchange, CUSIP is current security identifier
#   PRC is price, VOL is volume, SHROUT is shares outstanding, vwretd and ewretd are value and equally weighted market return averages.
#
# you will need date and NCUSIP to identify mainly these companies. May use Companyname and or Ticker with XBRL if there is no/partial CUSIP identifier
df_crsp = pd.read_csv(path_data+'crsp_monthly.csv')
df_crsp['date'] = pd.to_datetime(df_crsp['date'])

# Import IBES
df_ibes = pd.read_csv(path_data+'ibes_annual.csv')
df_ibes['date'] = pd.to_datetime(df_ibes['ANNDATS'])


# YOU SHOULD MERGE IT ON XBRL data, based on the process described in Table 1
# but here is an example how to merge them together:

# Select needed columns
df_crsp_m = df_crsp[['date','NCUSIP','COMNAM','PRC','SHROUT','vwretd','ewretd']]
df_crsp_m.shape
print(df_crsp)
df_ibes_m = df_ibes[['CUSIP','CNAME','date','VALUE']]
df_ibes_m.shape

# Merge: inner (both has to be in data, note you have to modify it to be in XBRL, and it is not the same stuff necessarily)
df = pd.merge(df_ibes_m, df_crsp_m, how='inner', left_on=['date', 'CUSIP'], right_on=['date','NCUSIP'])

# All obs from CRPS and IBES
df.shape

# Drop duplicates
df = df.drop_duplicates(subset=['date','NCUSIP'])
df.shape

# Available stock price from CRSP (non NA)
df_total = df.dropna(subset=['PRC'])
df_total.shape
df_total

##
# NOTES: a) you need to carefully investigate and remove the duplicates form CRSP and IBES and XBRL individually! Check the sample sizes! E.g. here you will end up with way less observations

/var/folders/sy/8yjpdhts2wx6v85js75qxcch0000gn/T/ipykernel_61074/3533676610.py:14: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_crsp = pd.read_csv(path_data+'crsp_monthly.csv')

         PERMNO       date  SHRCD   SICCD    NCUSIP TICKER      COMNAM  \
0         10001 2010-01-29   11.0  4925.0  29269V10   EGAS  ENERGY INC
1         10001 2010-02-26   11.0  4925.0  29269V10   EGAS  ENERGY INC
2         10001 2010-03-31   11.0  4925.0  29269V10   EGAS  ENERGY INC
3         10001 2010-04-30   11.0  4925.0  29269V10   EGAS  ENERGY INC
4         10001 2010-05-28   11.0  4925.0  29269V10   EGAS  ENERGY INC
...         ...        ...    ...     ...       ...    ...         ...
1176716   93436 2022-08-31   11.0  9999.0  88160R10   TSLA   TESLA INC
1176717   93436 2022-09-30   11.0  9999.0  88160R10   TSLA   TESLA INC
1176718   93436 2022-10-31   11.0  9999.0  88160R10   TSLA   TESLA INC
1176719   93436 2022-11-30   11.0  9999.0  88160R10   TSLA   TESLA INC
1176720   93436 2022-12-30   11.0  9999.0  88160R10   TSLA   TESLA INC

        PRIMEXCH     CUSIP        PRC         VOL     SHROUT    vwretd  \
0              A  36720410   10.06000      3104.0     4361.0 -0.037186
1              A  36720410   10.00840      1510.0     4361.0  0.034754
2              A  36720410   10.17000      2283.0     4361.0  0.063688
3              A  36720410   11.39000      3350.0     6070.0  0.020039
4              A  36720410   11.40000      3451.0     6071.0 -0.079267
...          ...       ...        ...         ...        ...       ...
1176716        Q  88160R10  275.60999   7322218.0  3133470.0 -0.036240
1176717        Q  88160R10  265.25000  12965500.0  3158000.0 -0.091324
1176718        Q  88160R10  227.53999  17325849.0  3157752.0  0.077403
1176719        Q  88160R10  194.70000  18824244.0  3157752.0  0.052365
1176720        Q  88160R10  123.18000  29417041.0  3157752.0 -0.057116

           ewretd
0       -0.011388
1        0.033603
2        0.069289
3        0.057844
4       -0.076929
...           ...
1176716 -0.011556
1176717 -0.099903
1176718  0.049863
1176719  0.028123
1176720 -0.047241

[1176721 rows x 14 columns]

,CUSIP,CNAME,date,VALUE,NCUSIP,COMNAM,PRC,SHROUT,vwretd,ewretd
0,87482X10,TALMER BANCORP,2015-01-30,1.21,87482X10,TALMER BANCORP INC,13.5200,70532.0,-0.027207,-0.019073
5,26878510,EP ENGR CORP,2018-02-28,-0.39,26878510,E P ENERGY CORP,1.5100,254923.0,-0.039481,-0.040026
5180,15117E10,CELLADON,2015-03-31,-27.30,15117E10,CELLADON CORP,18.9400,23828.0,-0.010410,-0.005112
5185,81776310,SESEN BIO,2022-02-28,0.00,81776310,SESEN BIO INC,0.6343,199464.0,-0.021838,-0.007412
5190,45780R10,IBP,2018-02-28,2.05,45780R10,INSTALLED BUILDING PRODUCTS INC,59.7500,31862.0,-0.039481,-0.040026
...,...,...,...,...,...,...,...,...,...,...
161165,N2094410,CNH INDUSTRIAL,2015-01-30,3.63,N2094410,C N H INDUSTRIAL N V,7.6500,1354194.0,-0.027207,-0.019073
161168,36268W10,GAIN CAPITAL HOL,2012-02-29,NaN,36268W10,GAIN CAPITAL HOLDINGS INC,5.2400,34212.0,0.041253,0.036494
161183,47231910,JEFFERIES GROUP,2010-05-28,NaN,47231910,JEFFERIES GROUP INC NEW,23.3300,171690.0,-0.079267,-0.076929
161186,63370710,NATIONAL BANK HL,2015-01-30,20.43,63370710,NATIONAL BANK HOLDINGS CORP,18.4500,38922.0,-0.027207,-0.019073
161189,92823T10,VIRNETX HOLDG,2020-02-28,NaN,92823T10,VIRNETX HOLDING CORP,5.6100,69510.0,-0.077918,-0.069814

In [ ]:
df_total = df_total.rename(columns={'COMNAM':'Name'})
mask = output_df['Name'].isin(df_total['Name'])
merged_df = output_df[mask]
output_df = merged_df.sort_values(['Name', 'Year'])

KeyError: 'Name'

In [ ]:
output_df = pd.read_csv("filtered.csv")

In [ ]:
def get_y(row):
    cik = row['cik']
    corresponding_rows = df[(df['cik'] == cik) & (df['year'] == row['Year'] + 1)]
    # sort rows by month and take the first one
    corresponding_rows = corresponding_rows.sort_values(by=['month'])
    if corresponding_rows.shape[0] == 0:
        return np.nan
    return corresponding_rows.iloc[0]['VALUE']

output_df['eps'] = output_df.apply(get_y, axis=1)

output_df.to_csv("filtered.csv")

In [ ]:
output_df

0       None
1       None
2       None
3       None
4       None
        ...
5777    None
5778    None
5779    None
5780    None
5781    None
Length: 5782, dtype: object

In [ ]:
changed_data
# deferred = output_df["DeferredCompensationLiabilityCurrentAndNoncurrent"]
# deferred[deferred.notnull()].shape

Empty DataFrame
Columns: []
Index: []

In [ ]:
df.head()

,TICKER,CUSIP,OFTIC,CNAME,VALUE,USFIRM,date,year,month,cik
0,0000,87482X10,TLMR,TALMER BANCORP,1.21,1,2015-01-30,2015,1,1360683.0
1,0000,87482X10,TLMR,TALMER BANCORP,1.02,1,2016-01-26,2016,1,1360683.0
2,0001,26878510,EPE,EP ENGR CORP,0.86,1,2015-02-18,2015,2,1584952.0
3,0001,26878510,EPE,EP ENGR CORP,0.78,1,2016-02-18,2016,2,1584952.0
4,0001,26878510,EPE,EP ENGR CORP,0.62,1,2017-03-01,2017,3,1584952.0

In [ ]:
df[df['cik'] == 16918]

,TICKER,CUSIP,OFTIC,CNAME,VALUE,USFIRM,date,year,month,cik
12877,CDG2,21036P10,STZ,CONSTELLAT BRAN,1.69,1,2010-04-09,2010,4,16918.0
12878,CDG2,21036P10,STZ,CONSTELLAT BRAN,1.91,1,2011-04-07,2011,4,16918.0
12879,CDG2,21036P10,STZ,CONSTELLAT BRAN,2.34,1,2012-04-05,2012,4,16918.0
12880,CDG2,21036P10,STZ,CONSTELLAT BRAN,2.19,1,2013-04-10,2013,4,16918.0
12881,CDG2,21036P10,STZ,CONSTELLAT BRAN,3.25,1,2014-04-09,2014,4,16918.0
12882,CDG2,21036P10,STZ,CONSTELLAT BRAN,4.44,1,2015-04-09,2015,4,16918.0
12883,CDG2,21036P10,STZ,CONSTELLAT BRAN,5.43,1,2016-04-06,2016,4,16918.0
12884,CDG2,21036P10,STZ,CONSTELLAT BRAN,6.76,1,2017-04-06,2017,4,16918.0
12885,CDG2,21036P10,STZ,CONSTELLAT BRAN,8.72,1,2018-03-29,2018,3,16918.0
12886,CDG2,21036P10,STZ,CONSTELLATION,9.28,1,2019-04-04,2019,4,16918.0
12887,CDG2,21036P10,STZ,CONSTELLATION,9.12,1,2020-04-03,2020,4,16918.0
12888,CDG2,21036P10,STZ,CONSTELLATION,9.97,1,2021-04-08,2021,4,16918.0
12889,CDG2,21036P10,STZ,CONSTELLATION,10.20,1,2022-04-07,2022,4,16918.0

In [6]:
output_df.to_csv(f"{processed_data_dir}/processed_data.csv", index=False)

NameError: name 'output_df' is not defined

In [ ]:
# pickle dump filtered set
with open(f"{processed_data_dir}/filtered_firm_cik_year_set.pkl", "wb") as f:
    pickle.dump(filtered_firm_cik_year_set, f)

In [ ]:
# Download the CIK-SIC mapping file from the SEC's website
url = "https://www.sec.gov/files/cik-sic.txt"
urllib.request.urlretrieve(url, "cik-sic.txt")

# Read in the file to a Pandas DataFrame
mapping_df = pd.read_csv("cik-sic.txt", delimiter="\t", header=None, names=["CIK", "SIC"])

# Print the first few rows of the DataFrame to verify it was read in correctly
print(mapping_df.head())

HTTPError: HTTP Error 404: Not Found